src/test/airline.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Airline" type="AirlineType"/>
  <xs:complexType name="AirlineType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="xs:string" name="airlinename"/>
      <xs:element name="airlinecode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="AAL"/>
            <xs:enumeration value="SouthWest Airlines"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>