src/test/airport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Airport" type="AirportType"/>
  <xs:complexType name="AirportType">
    <xs:sequence>
      <xs:element type="xs:string" name="airportcode"/>
      <xs:element type="xs:string" name="airportname"/>
      <xs:element type="xs:string" name="city"/>
      <xs:element type="xs:string" name="state"/>
      <xs:element type="xs:string" name="countrycode"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>