src/test/flight.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Flight" type="FlightType"/>
  <xs:complexType name="FlightType">
    <xs:sequence>
      <xs:element type="xs:string" name="flightNo"/>
      <xs:element type="xs:string" name="flightname"/>
      <xs:element type="xs:string" name="departure"/>
      <xs:element type="xs:string" name="arrival"/>
      <xs:element type="xs:string" name="source"/>
      <xs:element type="xs:string" name="destination"/>
      <xs:element type="xs:string" name="seats"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>